<?xml version="1.0" encoding="utf-8" ?>
<nlog
    xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    autoReload="true"
    internalLogLevel="Warn"
    internalLogFile="logs/internal-nlog.txt">

	<!-- 输出目标 -->
	<targets>
		<!-- 1.控制台输出 -->
		<target xsi:type="console" name="console" layout="${date} | ${level:uppercase=true} | ${logger} | ${message} ${exception}" />

		<!-- 2.写入日志文件，每天一个文件 7天就归档再删除-->
		<target xsi:type="File"
				name="DeviceConfigureLog"  
				fileName="DeviceConfiglogs/${shortdate}.log"
			  archiveEvery="Day"
				archiveNumbering="Rolling"
				maxArchiveFiles="7"
					keepFileOpen="false"
					encoding="utf-8"
			layout="${date:format=yyyy-MM-dd HH\:mm\:ss} ${level} ${message}${onexception:${exception}}"/>

		<!--3.搭配有时间标记的文件，按日期滚动归档-->
		<target xsi:type="File" name="Applogfile"
					   fileName="logs/${shortdate}app.log"
					  archiveEvery="Day"
					archiveNumbering="Rolling"
					maxArchiveFiles="7"
					concurrentWrites="true"
					keepFileOpen="false"
					encoding="utf-8"
					layout="${longdate}|${level:uppercase=true}|${logger}|${message}|${exception:format=ToString}"
				/>
		
		<!--4.按大小10mb来滚动归档-->
		<target xsi:type="File" name="newlogfile"
					   fileName="logs/app.log"
				 archiveFileName="logs/app.{#}.log"
					archiveAboveSize="10485760"
					archiveNumbering="Rolling"
					maxArchiveFiles="7"
					concurrentWrites="true"
					keepFileOpen="false"
					encoding="utf-8"
					layout="${longdate}|${level:uppercase=true}|${logger}|${message}|${exception:format=ToString}"
				/>
	

	</targets>

	<!-- 日志规则（最小级别、绑定 target） -->
	<rules>

		<logger name="Measure.Forms.DeviceConfig" minlevel="Trace" writeTo="DeviceConfigureLog" />

		<logger name="Measure.MainForm" minlevel="Info"  writeTo="Applogfile"  final="true" />

		<logger name="*" minlevel="Info" writeTo="newlogfile"   />
	</rules>
</nlog>